@import 'spinner-1';
@import 'spinner-2';
@import 'spinner-3';
@import 'spinner-4';
@import 'spinner-5';

body {
  padding: 100px;
  background: white;
}

.container {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 100px;
  background: white;
  padding-bottom: 100px;
  box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
}

h1 {
  padding: 50px;
  font-family: monospace;
}

.round-spinner {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 50px;
  display: inline-block;
}
.round-spinner:after, .round-spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
